#board-container {
    max-width: 640px;
    max-height: 640px;
    /* display: grid; */
    display: flex;
    position: relative;
    /* width: 488px; */
    width: 100%;
    
    aspect-ratio: 1/1; 
    /* padding-bottom: 100%; 
    vertical-align: top;
    overflow: hidden;
     */

     background-color: transparent;
}
img {
    background-color: transparent;
}
.board-background {
    /* display: flex; */
    position: absolute;
    /* flex-basis: 80%; */
    background-image: url("../assets/images/board.png");
    background-size: 100%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;


}

#board {
    /* display: inline-block; */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* padding-bottom: 100%; */
}

@media (max-height:850px) {
    #board-container {
        max-width: 488px;
        max-height: 488px;
    }
}

@media (max-width:700px) {
    #board-container {
        max-width: 360px;
        max-height: 360px;
    }
}

/* @media (max-width:500px) {
    .board-container {

    }
} */


.dark {
    fill:rgb(114, 181, 81);
    /* stroke-width:1; */
    /* stroke:rgb(0,0,0); */
    pointer-events: none; 
    width: 12.5%;
    height: 12.5%;
}

.light {
    fill:rgb(245, 246, 211);
    /* stroke-width:1; */
    /* stroke:rgb(0,0,0); */
    /* fill-opacity: 0%; */
    pointer-events: none;
    width: 12.5%;
    height: 12.5%;
}




.piece {

    position: absolute; 
    height: 12.5%;
    width: 12.5%;
    /* background-blend-mode: overlay; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: transparent; 
    top: 0px; 
    left: 0px;
    z-index: 1;
}

.empty {

    position: absolute; 
    height: 12.5%;
    width: 12.5%;
    /* background-blend-mode: overlay; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: 90%; */
    background-color: transparent; 
    top: 0px; 
    left: 0px;
    z-index: 1;
}

.hover-square {
    background-color: rgba(219, 205, 47, 0.6);
    z-index: 1;
}

.valid-move {
    background-color: rgba(47, 219, 202, 0.6);
}

.bk {
    background-image: url("../assets/images/BK.png");
}
.bq {
    background-image: url("../assets/images/BQ.png");
}
.br {
    
    background-image: url("../assets/images/BR.png");
}
.bn {
    background-image: url("../assets/images/BN.png");
}
.bb {
    background-image: url("../assets/images/BB.png");
}
.bp {
    background-image: url("../assets/images/BP.png");
}


.wk {
    background-image: url("../assets/images/WK.png");
}
.wq {
    background-image: url("../assets/images/WQ.png");
}
.wr {
    
    background-image: url("../assets/images/WR.png");
}
.wn {
    background-image: url("../assets/images/WN.png");
}
.wb {
    background-image: url("../assets/images/WB.png");
}
.wp {
    background-image: url("../assets/images/WP.png");
}




.square-18 {
    transform: translate(0%);
}
.square-28 {
    transform: translateX(100%);
}

.square-38 {
    transform: translateX(200%);
}
.square-48 {
    transform: translateX(300%);
}
.square-58 {
    transform: translate(400%);
}
.square-68 {
    transform: translateX(500%);
}

.square-78 {
    transform: translateX(600%);
}
.square-88 {
    transform: translateX(700%);
}


.square-17 {
    transform: translate(0%, 100%);
}
.square-27 {
    transform: translate(100%, 100%);
}

.square-37 {
    transform: translate(200%, 100%);
}
.square-47 {
    transform: translate(300%, 100%);
}
.square-57 {
    transform: translate(400%, 100%);
}
.square-67 {
    transform: translate(500%, 100%);
}

.square-77 {
    transform: translate(600%, 100%);
}
.square-87 {
    transform: translate(700%, 100%);
}


.square-16 {
    transform: translate(0%, 200%);
}
.square-26 {
    transform: translate(100%, 200%);
}
.square-36 {
    transform: translate(200%, 200%);
}
.square-46 {
    transform: translate(300%, 200%);
}
.square-56 {
    transform: translate(400%, 200%);
}
.square-66 {
    transform: translate(500%, 200%);
}
.square-76 {
    transform: translate(600%, 200%);
}
.square-86 {
    transform: translate(700%, 200%);
}


.square-15 {
    transform: translate(0%, 300%);
}
.square-25 {
    transform: translate(100%, 300%);
}
.square-35 {
    transform: translate(200%, 300%);
}
.square-45 {
    transform: translate(300%, 300%);
}
.square-55 {
    transform: translate(400%, 300%);
}
.square-65 {
    transform: translate(500%, 300%);
}
.square-75 {
    transform: translate(600%, 300%);
}
.square-85 {
    transform: translate(700%, 300%);
}

.square-14 {
    transform: translate(0%, 400%);
}
.square-24 {
    transform: translate(100%, 400%);
}
.square-34 {
    transform: translate(200%, 400%);
}
.square-44 {
    transform: translate(300%, 400%);
}
.square-54 {
    transform: translate(400%, 400%);
}
.square-64 {
    transform: translate(500%, 400%);
}
.square-74 {
    transform: translate(600%, 400%);
}
.square-84 {
    transform: translate(700%, 400%);
}

.square-13 {
    transform: translate(0%, 500%);
}
.square-23 {
    transform: translate(100%, 500%);
}
.square-33 {
    transform: translate(200%, 500%);
}
.square-43 {
    transform: translate(300%, 500%);
}
.square-53 {
    transform: translate(400%, 500%);
}
.square-63 {
    transform: translate(500%, 500%);
}
.square-73 {
    transform: translate(600%, 500%);
}
.square-83 {
    transform: translate(700%, 500%);
}


.square-12 {
    transform: translate(0%, 600%);
}
.square-22 {
    transform: translate(100%, 600%);
}
.square-32 {
    transform: translate(200%, 600%);
}
.square-42 {
    transform: translate(300%, 600%);
}
.square-52 {
    transform: translate(400%, 600%);
}
.square-62 {
    transform: translate(500%, 600%);
}
.square-72 {
    transform: translate(600%, 600%);
}
.square-82 {
    transform: translate(700%, 600%);
}


.square-11 {
    transform: translate(0%, 700%);
}
.square-21 {
    transform: translate(100%, 700%);
}
.square-31 {
    transform: translate(200%, 700%);
}
.square-41 {
    transform: translate(300%, 700%);
}
.square-51 {
    transform: translate(400%, 700%);
}
.square-61 {
    transform: translate(500%, 700%);
}
.square-71 {
    transform: translate(600%, 700%);
}
.square-81 {
    transform: translate(700%, 700%);
}

