/* body {
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_1280.jpg');
    background-size: cover;
    /*background-repeat: no-repeat;
    */
    /* font-family: Arial, sans-serif;
} */ */

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.login-container h2 {
    margin: 0;
    padding: 0;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.loginError {
    color:red;
    text-align:center;
}

.hidden {
    display:none;
}